:root {
  --color1: #777;

  --color2: #023e8a;
  --color3: #023e8a44;

  --color4: #fb8500;
  --color5: #fb850044;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}
